@model ProjetoTfoq.Models.Mantimento
@{
    ViewBag.Title = "Alterar";
}

<h2>Detalhes</h2>
<!-- Primeira-->
<div class="form-group row">

    <!-- Primeira Coluna-->
    <div class="col-sm-6">
        <label>Tipo</label>

        <input readonly type="text" id="marca" class="form-control" MaxLength="15" value="@Model.Tipo.Nome"/>

    </div>
    <!-- Segunda Coluna-->
    <div class="col-sm-6">
        <label>Marca</label>
        <input type="text" id="marca" class="form-control" MaxLength="15" value="@Model.Marca"/>
    </div>


</div>
<!-- Segunda-->
<div class="form-group row">

    <!-- Primeira Coluna-->
    <div class="col-sm-6">
        <label>Validade</label>
        <input type="text" id="marca" class="form-control" MaxLength="15" value="@Model.Validade" />
    </div>
    <!-- Segunda Coluna-->
    <div class="col-sm-6">
        <label>Capaciade</label>
     
        <input onchange="CalculaPercentual()" type="text" id="capacidade" class="form-control" MaxLength="15" value="@Model.Capacidade" />

    </div>


</div>
<div class="form-group row">

    <!-- Primeira Coluna-->
    <div class="col-sm-6">
        <label>Conteúso Atual</label>
        <input type="text" id="conteudo" class="form-control" MaxLength="15" value="@Model.Conteudo" />
    </div>
    <!-- Segunda Coluna-->
    <div class="col-sm-6">
        <label>Percentual</label>
        <input type="text" id="percentual" class="form-control" MaxLength="15" value="@Model.Precentual"/>
    </div>


</div>

<div class="form-group row">

    <button onclick="Salvar()" type="button" class="btn btn-primary">SalVar</button>



    <a href="/mantimento/index" class="btn btn-primary">Voltar</a>

</div>
<script>
    function Salvar() {
        var mantimento = new Object();
        mantimento.Id= @Model.Id;
        mantimento.TipoId = $('#tipo').val();
        mantimento.Marca = $('#marca').val();
        mantimento.Validade = $('#validade').val();
        mantimento.ConteudoAtual = $('#conteudo').val();
        mantimento.Percentual = $('#percentual').val();

        $.ajax({
            type: "POST",
            url: "/mantimento/update",
            data: tipo,
            dataType: 'json',
            success: function (obj) {
                alert(obj);
                location.href = '/mantimento';
            },
            error: function (error) {

            }
        });
    }
    function CalculaPercentual() {
        var capacidade = parseFloat($('#capacidade').val());
        var conteudoAtual = parseFloat($('#conteudo').val());
        var percentual = ((conteudoAtual / capacidade) * 100);
        $('#percentual').val(percentual);

    }

</script>



