@model List<ProjetoTfoq.Models.Mantimento>
@{
    ViewBag.Title = "Index Mantimento";
}

<h2>Mantimentos</h2>


<table class="table table-striped table-hover">
    <caption>Mantimentos Cadastradas</caption>
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Validade</th>
            <th scope="col">Capacidade</th>
            <th scope="col">Conteúdo Atual</th>
            <th scope="col">% Disponivel</th>
            <th><a class="success">Detalhes</a></th>
            <th><a class="danger">Alterar</a></th>
            <th><a class="warning">Excluir</a></th>
        </tr>
    </thead>
    <tbody>
        <!-- index vai receber do controle uma lista de empresa e percorrer pela tabelas-->
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Tipo.Nome</td>
            <td>@item.Marca</td>
            <td>@item.Capacidade</td>
            <td>@item.Conteudo</td>
            <td>@item.Precentual.ToString(".")</td>
            <td><a href="/Mantimento/Detalhes/@item.Id" class="success"><i class="bi bi-arrow-down-left-square"></i></a></td>
            <td><a href="/Mantimento/Alterar/@item.Id" class="danger"></a><i class="bi bi-pen"></i></td>

            <td><a onclick="Excluir(@item.Id)" class="btn "></a><i class="bi bi-trash"></i></td>
        </tr>
        }

    </tbody>

</table>
<a href="/Mantimento/cadastro/" class="btn btn-primary">Novo Tipo</a>
<script>

    function Excluir(id) {
        $.ajax({
            type: "GET",
            url: "/mantimento/Delete/" + id,

            dataType: 'json',
            success: function (obj) {
                alert(obj);
                location.href = '/mantimento';
            },
            error: function (error) {
                console.log(error)

            }
        });
    }

</script>