@model List<ProjetoTfoq.Models.Tipo>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de Tipo</h2>
<div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
    <input name="consulta" id="consultatex" placeholder="Consulta" type="text" class="form-control" />

</div>
<table class="table table-striped table-hover" id="tabela">
    <caption>Tipos Cadastradas</caption>
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nome</th>
            <th scope="col">Repor</th>
            <th scope="col">Tags</th>
            <th><a class="success">Detalhes</a></th>
            <th><a class="danger">Alterar</a></th>
            <th><a class="warning">Excluir</a></th>
        </tr>
    </thead>
    <tbody>
        <!-- index vai receber do controle uma lista de empresa e percorrer pela tabelas-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Repor</td>
                <td>@item.Tags</td>
                <td><a href="/Tipo/Detalhes/@item.Id" class="success"><i class="bi bi-arrow-down-left-square"></i></a></td>
                <td><a href="/Tipo/Alterar/@item.Id" class="danger"> <i class="bi bi-pen"></i></a></td>

                <td><a onclick="Excluir(@item.Id)" class="btn"><i class="bi bi-trash"></i></a></td>
            </tr>
        }

    </tbody>
   
</table>
<a href="/tipo/cadastro" class="btn btn-primary">Novo Tipo</a>
<script>

    function Excluir(id)
    {
        $.ajax({
            type: "GET",
            url: "/tipo/Delete/" + id,
           
            dataType: 'json',
            success: function (obj) {
                alert(obj);
                location.href = '/tipo';
            },
            error: function (error) {
                console.log(error)

            }
        });
    }
    $('#consulta').quicksearch('table#tabela tbody tr ');

</script>